<div class="main">
    <div class="izq">
        <div class="info">
            <div>
                Click: Pixel information<br>
                Shift + click: Add to cut list<br>
                Ctrl + click: Set paste destination<br>
                <div>
                    Mode: {{mode}}<br>
                    <input type="radio" id="mode_inspect" name="mode" [(ngModel)]="mode" [value]="modeType.Inspect" />
                    <label for="mode_inspect">Inspect</label>
                    <input type="radio" id="mode_selection" name="mode" [(ngModel)]="mode"
                        [value]="modeType.Selection" />
                    <label for="mode_selection">Selection</label>
                    <input type="radio" id="mode_write" name="mode" [(ngModel)]="mode" [value]="modeType.Write" />
                    <label for="mode_write">Write</label>
                    <input type="radio" id="mode_plantseed" name="mode" [(ngModel)]="mode"
                        [value]="modeType.PlantSeed" />
                    <label for="mode_plantseed">Plant seed</label>
                    <input type="radio" id="mode_damage" name="mode" [(ngModel)]="mode" [value]="modeType.Damage" />
                    <label for="mode_damage">Damage</label>
                </div>
                <div *ngIf="mode==modeType.Write">
                    Channel:
                    <input type="number" max="15" min="0" step="1" [(ngModel)]="writeChannel" /><br />
                    Value:
                    <input type="number" max="1" min="0" step="0.1" [(ngModel)]="writeValue" /><br />
                    Radius:
                    <input type="number" max="20" min="1" step="1" [(ngModel)]="writeRadius" /><br />

                </div>
                Model:
                <select (change)="loadModel($event.target.value)">
                    <option *ngFor="let model of models">{{model}}</option>
                </select>
                <textarea class="customModelTextArea" [(ngModel)]="customModelString"></textarea>

                <button (click)="loadCustomModel()">Load custom model</button><br>
                Grid size: <input [(ngModel)]="gridSize" type=number min=50 max=500><br>
                Pixel size: <input [(ngModel)]="pixelSize" type=number min=2 max=10><br>
                % prob: <input [(ngModel)]="fireRate" type=range min=0 max=1 step="0.1">{{fireRate}}<br>
                <!--Damage size: <input [(ngModel)]="damageSize" type=number min=2 max=50><br>-->
            </div>
            <div id="cellSelected"></div>
            <div id="cellCopied"></div>
            <button (click)="startModel()">Restart</button>
            <button (click)="play = !play;">Play/Pause</button>
            <button *ngIf="!play" (click)="step()">Step</button>
            <div class="box">
                Cut-Paste:
                <div class="horizontal">
                    <div class="box">
                        PixelSize: <input [(ngModel)]="cutPastePixelSize" type="number" min=1 max=10><br>
                        Remove origin: <input [(ngModel)]="cutPasteData.removeOrigin" type="checkbox"><br>
                        <button (click)="copyCutButton()">Copy/Cut</button>
                        <button (click)="restartCutPasteData()">Restart selection</button>
                    </div>
                </div>
            </div>
            <div class="box">
                Channel:
                <select (change)="changeShownChannel($event.target.value)">
                    <option value=-1>Normal</option>
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                    <option value=11>11</option>
                    <option value=12>12</option>
                    <option value=13>13</option>
                    <option value=14>14</option>
                    <option value=15>15</option>
                </select>
            </div>
            <div class="box">
                <button (click)="addToClipboard()" [disabled]="cutPasteData.pixelList.length == 0">Add to
                    clipboard</button>
            </div>
        </div>
        <div class="clipboard box">
            Clipboard:<p>
            <div *ngFor="let clip of clipboard; index as i">
                {{i}} - <app-mini-viewer [state]="clip.state" [sizeX]="gridSize" [sizeY]="gridSize"
                    (click)="clipboardClicked(clip)"></app-mini-viewer>
            </div>
        </div>
    </div>
    <div class="viewer">
        <app-viewer (mouseEvent)="mouseEvent($event)" #viewer></app-viewer>
        <app-pixel-viewer [pixel]="currentPixel" [position]="currentPixelPosition"></app-pixel-viewer>
    </div>
</div>